<br><br>
<nav>
  

    <div class="nav-wrapper">
      <a href="index.html" class="brand-logo"><img src="assets/logo1.png" style="width:60%"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html#features"><i class="mdi-action-view-module"></i></a></li>
        <li><a href="index.html#signup">Sign Up</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        li><a href="index.html#features">Features</a></li>
        <li><a href="index.html#signup">Sign Up</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </div>
  </nav>
  <h3 id="path"></h1>

  <% 20.times do %><br><% end %>

  <h1>Features</h1>

  <div class="row">
    <div id="features" class="col s12">
      <!-- First Card -->
      <div class="col s3">
          <div class="card" style="height: 390px">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="http://i.imgur.com/gP5wKi8.png">
        </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cool <i class="mdi-navigation-more-vert right"></i></span>
            <p>Enso's UI is modern and simplistic.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Cool <i class="mdi-navigation-close right"></i></span>
            <p>The part-circle design makes Enso easy to understand.</p>
          </div>
        </div>
      </div>
      <!-- Second Card -->
      <div class="col s3">
          <div class="card" style="height: 390px">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="http://i.imgur.com/xFN5thZ.png">
        </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Innovative <i class="mdi-navigation-more-vert right"></i></span>
            <p>Prioritize different aspects of your life.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Innovative <i class="mdi-navigation-close right"></i></span>
            <p>Using differently sized parts of a circle, you can make what matters most bigger.</p>
          </div>
        </div>
      </div>
      <!-- Three Card -->
      <div class="col s3">
          <div class="card" style="height: 390px">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="http://i.imgur.com/pqfxA2G.png">
        </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Colorful <i class="mdi-navigation-more-vert right"></i></span>
            <p>Colors change every time.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Colorful <i class="mdi-navigation-close right"></i></span>
            <p>Enso is always interesting to look at with colors changing each time you navigate through subcategories.</p>
          </div>
        </div>
      </div>
      <!-- Four Card -->
      <div class="col s3">
          <div class="card" style="height: 390px">
        <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="http://i.imgur.com/tHgpebL.png">
        </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Powerful <i class="mdi-navigation-more-vert right"></i></span>
            <p>Enso is very organized and fast.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Powerful <i class="mdi-navigation-close right"></i></span>
            <p>Enso is seperated into categories, each displaying different pieces of data.</p>
          </div>
        </div>
      </div>
      <br />
      <hr class="style-two" />
    
  <h1 style="padding-top: 10px">Sign Up</h1>

  <div id="login" class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
  </form>
</div>
